<template>
  <div class="app">
    <app-editor v-model="editorData" @ready="onEditorReady" />
    <div style="margin-top: 50px">{{ editorData }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Editor } from "@ckeditor/ckeditor5-core";
import EventInfo from "@ckeditor/ckeditor5-utils/src/eventinfo";
import AppEditor from "@/components/AppEditor.vue";

@Component({
  name: "App",
  components: {
    AppEditor,
  },
})
export default class App extends Vue {
  editorData = `<p>Content sample</p>`;

  onEditorReady(editor: Editor): void {
    editor.on("testPluginEvent", (e: EventInfo, { id, label }: { id: string; label: string }) => {
      this.editorData += `<p>Dropdown: id - ${id}, label - ${label}</p>`;
    });
  }
}
</script>
