<template>
  <ckeditor
    v-bind="$attrs"
    v-on="$listeners"
    :config="editorConfig"
    :editor="editor"
    :value="value"
  ></ckeditor>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import CKEditor from "@ckeditor/ckeditor5-vue2";
import ClassicEditor from "@ckeditor/ckeditor5-editor-classic/src/classiceditor";

import AlignmentPlugin from "@ckeditor/ckeditor5-alignment/src/alignment";
import EssentialsPlugin from "@ckeditor/ckeditor5-essentials/src/essentials";
import AutoformatPlugin from "@ckeditor/ckeditor5-autoformat/src/autoformat";

import BoldPlugin from "@ckeditor/ckeditor5-basic-styles/src/bold";
import ItalicPlugin from "@ckeditor/ckeditor5-basic-styles/src/italic";
import UnderlinePlugin from "@ckeditor/ckeditor5-basic-styles/src/underline";
import StrikethroughPlugin from "@ckeditor/ckeditor5-basic-styles/src/strikethrough";
import SubscriptPlugin from "@ckeditor/ckeditor5-basic-styles/src/subscript";
import SuperscriptPlugin from "@ckeditor/ckeditor5-basic-styles/src/superscript";

import BlockQuotePlugin from "@ckeditor/ckeditor5-block-quote/src/blockquote";
import HeadingPlugin from "@ckeditor/ckeditor5-heading/src/heading";
import LinkPlugin from "@ckeditor/ckeditor5-link/src/link";
import ListPlugin from "@ckeditor/ckeditor5-list/src/list";
import ParagraphPlugin from "@ckeditor/ckeditor5-paragraph/src/paragraph";
import FontPlugin from "@ckeditor/ckeditor5-font/src/font";
import HorizontalLinePlugin from "@ckeditor/ckeditor5-horizontal-line/src/horizontalline";
import RemoveFormatPlugin from "@ckeditor/ckeditor5-remove-format/src/removeformat";

import TablePlugin from "@ckeditor/ckeditor5-table/src/table";
import TableToolbarPlugin from "@ckeditor/ckeditor5-table/src/tabletoolbar";
import TableCaptionPlugin from "@ckeditor/ckeditor5-table/src/tablecaption";
import TablePropertiesPlugin from "@ckeditor/ckeditor5-table/src/tableproperties";
import TableCellPropertiesPlugin from "@ckeditor/ckeditor5-table/src/tablecellproperties";

import ImagePlugin from "@ckeditor/ckeditor5-image/src/image";
import ImageResizePlugin from "@ckeditor/ckeditor5-image/src/imageresize";
import ImageCaptionPlugin from "@ckeditor/ckeditor5-image/src/imagecaption";
import ImageStylePlugin from "@ckeditor/ckeditor5-image/src/imagestyle";
import ImageToolbarPlugin from "@ckeditor/ckeditor5-image/src/imagetoolbar";
import ImageInsertPlugin from "@ckeditor/ckeditor5-image/src/imageinsert";
import AutoImagePlugin from "@ckeditor/ckeditor5-image/src/autoimage";
import LinkImagePlugin from "@ckeditor/ckeditor5-link/src/linkimage";
import ImageUploadPlugin from "@ckeditor/ckeditor5-image/src/imageupload";
import Base64UploadAdapterPlugin from "@ckeditor/ckeditor5-upload/src/adapters/base64uploadadapter";

import colorPalette from "@/ckeditor/tools/colorPalette";
import TestPlugin from "@/ckeditor/plugins/TestPlugin";
import { EditorConfig } from "@ckeditor/ckeditor5-core/src/editor/editorconfig";

// All features CKEditor docs:
// https://ckeditor.com/docs/ckeditor5/latest/features

@Component({
  name: "AppEditor",
  components: {
    ckeditor: CKEditor.component,
  },
  inheritAttrs: false,
})
export default class App extends Vue {
  @Prop({
    default: () => {
      return {};
    },
  })
  readonly config!: EditorConfig;
  @Prop({ type: String, default: "" }) readonly value!: string;

  editor = ClassicEditor;
  editorConfig: EditorConfig = {
    plugins: [
      AlignmentPlugin,
      EssentialsPlugin,
      AutoformatPlugin,

      BoldPlugin,
      ItalicPlugin,
      UnderlinePlugin,
      StrikethroughPlugin,
      SubscriptPlugin,
      SuperscriptPlugin,

      BlockQuotePlugin,
      HeadingPlugin,
      LinkPlugin,
      ListPlugin,
      ParagraphPlugin,
      FontPlugin,
      HorizontalLinePlugin,
      RemoveFormatPlugin,

      TablePlugin,
      TableToolbarPlugin,
      TableCaptionPlugin,
      TablePropertiesPlugin,
      TableCellPropertiesPlugin,

      ImagePlugin,
      ImageResizePlugin,
      ImageCaptionPlugin,
      ImageStylePlugin,
      ImageToolbarPlugin,
      ImageInsertPlugin,
      AutoImagePlugin,
      LinkImagePlugin,
      ImageUploadPlugin,
      Base64UploadAdapterPlugin,
      TestPlugin,
    ],
    toolbar: {
      items: [
        "fontSize",
        "fontFamily",
        "fontColor",
        "fontBackgroundColor",
        "heading",
        "|", // new group
        "bold",
        "italic",
        "underline",
        "strikethrough",
        "subscript",
        "superscript",
        "link",
        "bulletedList",
        "numberedList",
        "insertImage",
        "blockQuote",
        "alignment",
        "insertTable",
        "horizontalLine",
        "undo",
        "redo",
        "removeFormat",
        "|", // new group
        // '-', // new row
        "testPlugin",
      ],
      // shouldNotGroupWhenFull: true,
    },
    alignment: {
      options: ["left", "center", "right", "justify"],
    },
    fontBackgroundColor: {
      colors: colorPalette,
    },
    fontColor: {
      colors: colorPalette,
    },
    fontSize: {
      options: [9, 11, 13, "default", 17, 19, 22],
      supportAllValues: true,
    },
    image: {
      toolbar: [
        "linkImage",
        "|",
        "imageStyle:inline",
        "imageStyle:block",
        "imageStyle:side",
        "|",
        // A dropdown containing `alignLeft` and `alignRight` options.
        "imageStyle:wrapText",
        // A dropdown containing `alignBlockLeft`, `block` (default) and  `alignBlockRight` options.
        "imageStyle:breakText",
        "|",
        "toggleImageCaption",
        "imageTextAlternative",
      ],
    },
    table: {
      contentToolbar: [
        "toggleTableCaption",
        "tableColumn",
        "tableRow",
        "mergeTableCells",
        "tableProperties",
        "tableCellProperties",
      ],
      tableProperties: {
        borderColors: colorPalette,
        backgroundColors: colorPalette,
      },
      tableCellProperties: {
        borderColors: colorPalette,
        backgroundColors: colorPalette,
      },
    },
  };

  created(): void {
    this.editorConfig = { ...this.editorConfig, ...this.config };
  }
}
</script>

<style lang="scss">
.ck-editor__editable_inline {
  min-height: 200px;
}
.ck-dropdown.ck-test-plugin-dropdown {
  .ck-button.ck-dropdown__button {
    .ck-button__label {
      width: 9em;
    }
  }
}
</style>
